@model HelpDeskWebSite.Models.EmailMessage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-black" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-2 bg-danger">
            fajsd
        </div>

        <div class="col-lg-8 bg-info">
            <div class="row">
                <ul class="nav nav-pills">
                    <li class="nav-link">
                        <button type="button" class="btn btn-secondary text-black">Secondary</button>
                    </li>
                    <li class="nav-link text-black">
                        <button type="button" class="btn btn-secondary text-black">Secondary</button>
                    </li>
                </ul>
            </div>
            <h3>Nomber and name of the ticket</h3>
            <h6>The ticket submitted by: </h6>
            <div class="d-flex">
                <div><span class="font-weight-bold">Sender: </span>@Html.DisplayFor(model => model.Recipient)</div>
                <p>Requester</p>
                <p>Requester</p>
            </div>
            <div class="container">
                <h2>Toggleable Tabs</h2>
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                        <br>
                        <h3>HOME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="menu1" class="container tab-pane fade">
                        <br>
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="container tab-pane fade">
                        <br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 bg-danger">
            fajsd
        </div>
    </div>
</div>

<h1>Details</h1>

<div>
    <h4>EmailMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyPlain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyPlain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrippedText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrippedText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrippedSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrippedSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyHtml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyHtml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrippedHtml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrippedHtml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageHeaders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageHeaders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentIdMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentIdMap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
